body{
    margin: 0px;
    padding: 0px;
    

}
*{
    box-sizing: border-box;
}
@font-face{
    font-family: myFont;
    src: url(../fonts/HalloweenSlimePersonalUse-4B80D.otf);
}
@font-face{
    font-family: myFont1;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}
.input{
    padding: 10px 10px;
    font-size: 20px;
    border: 3px solid black;
}
.input::placeholder{
    font-family: myFont1;
}
#mensajeSiHasAdivinadoONo{
    font-family: myFont;
    margin-top: -10px;
    
}

#empezarJuego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}
#title h1{
    font-family: myFont;
    font-size: 100px;
    color: black;
    overflow: hidden;
}
#title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
}
#botones{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 50vh;
}
#botones button{
    padding: 15px 10px;
    font-size: 30px;
    width: 300px;
    margin: 10px;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    background-color: rgb(151, 53, 225);
    font-family: myFont;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    
}
#botones button:hover{
    border: 5px solid black;
}
#juego{
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#probar{
    padding: 8px 10px;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(145, 66, 205);
    font-family: myFont1;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
#probar:hover{
    border: 2px solid black;
}
#letrasCorrectas{
    color: green;
}
#letrasIncorrectas{
    color: red;
}
#gameOver {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 60vw;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
}
#content p{
    font-size: 25px;
    font-family: myFont1;
}
#content h3{
    font-size: 40px;
    font-family: myFont;
}
#gameOver button{
    padding: 5px 10px;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    background-color: rgb(151, 53, 225);
    font-family: myFont;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
#gameOver button:hover{
    border: 3px solid black;
}
#mensaje{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#error{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 60vw;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
}
#error h3{
    font-family: myFont;
    font-size: 40px;
}
#error p{
    margin-top: -10px;
    font-family: myFont1;
    font-size: 25px;
}
#error button{
    padding: 5px 10px;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    background-color: rgb(151, 53, 225);
    font-family: myFont;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
#error button:hover{
    border: 3px solid black;
}
#palabra{
    font-family: myFont1;
    margin: 10px;
    font-size: 30px;
    border-radius: 5px;
}
#contenedor-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 10px;
    margin-top: 15px;
    width: 80vw;
    height: 20vh;
    background-color: white;
    border: 3px solid black;
}
#puntuacion{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 10px;
    font-size: 30px;
    border: 3px solid black;
}
#pista{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 7px 10px;
    border: 3px solid black;
    font-size: 30px;
    cursor: pointer;
}
#contenedor-2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    width: 80vw;
    height: 70vh;
    background-color: white;
    box-shadow: rgba(215, 243, 255, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border: 3px solid black;
}
#palabraMostradaYInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border: 3px solid black;
   
}
#historialLetras{
    display: flex;
    font-size: 25px;
}
.letrasCorrectas{
    margin: 20px;
    padding: 10px;
    border: 3px solid black;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.letrasIncorrectas{
    margin: 20px;
    padding: 10px;
    border: 3px solid black;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#vidas{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding-bottom: 5px;
    border: 3px solid black;
    font-size: 40px;
}

#reglas{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-behavior: auto;
}
#contenidoReglas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 85vw;
    height: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    font-family: myFont1;
}
#contenidoReglas button{
    padding: 5px 10px;
    font-size: 25px;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    background-color: rgb(151, 53, 225);
    font-family: myFont;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
#contenidoReglas button:hover{
    border: 3px solid black;
}
#contenidoReglas h1{
    font-family: myFont;
    font-size: 40px;
}
#contenidoReglas ul>li{
    font-family: myFont1;
    font-size: 20px;
}
